.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  padding: 0;
  min-height: 100vh;
  min-width: 330px;
  overflow-x: auto;

  @media (min-width: 400px) {
    padding: 2rem;
    gap: 16px;
  }

  @media (min-width: 1090px) {
    flex-direction: row;
    align-content: start;
    gap: 32px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

@mixin shadow {
  box-shadow: #dedddd 0px 0px 20px 10px;

  &:hover {
    box-shadow: #dedddd 0px 0px 20px 10px, inset rgba(255, 255, 255, 0.9) 0px 0px 15px 10px;
  }
}

.addNewList {
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
  background: rgb(222, 255, 211);
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  @include shadow;

  &:hover {
    background: rgb(232, 255, 223);
    border: 1px solid #beffbd;
  }
}

.chip {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
