.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px;
  min-width: 442px;
  gap: 5px;

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
