@mixin input {
  font-size: 1.5em;
  line-height: 20px;
}

.root {
  color: #323232;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:not(.focused):hover {
    border: 1px solid #b8b8b8;
    border-radius: 3px;
  }

  &__input input {
    @include input;
    padding: 0;
  }

  h2 {
    @include input;
  }
}

.completed {
  color: rgba(0, 212, 4, 0.96);
}

.focused {

}
