.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  min-width: 300px;
  width: 100%;
  gap: 10px;
}

.textInput {
  width: 100%;
}
